# -------------------------------------------------------------------------
# Configuration prefix

CONFIG_PREFIX=TEST

# -------------------------------------------------------------------------
# Server

TEST_SERVER_HOST=0.0.0.0
TEST_SERVER_PORT=8080

# Options [ms, s, m, h]
TEST_SERVER_SHUTDOWN_TIMEOUT=10s

# -------------------------------------------------------------------------
# LOGGER

# Options [dev, local, prod]
TEST_LOGGER_FORMAT=dev

# -------------------------------------------------------------------------
# Database

TEST_DB_HOST=db
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_NAME=MeetingRoomBookingService

TEST_DB_MAX_OPEN_CONNS=10
TEST_DB_MIN_OPEN_CONNS=2

# Options [ms, s, m, h]
TEST_DB_CONN_MAX_LIFETIME=1h
TEST_DB_MAX_CONN_IDLE_TIME=15m

# -------------------------------------------------------------------------
# JWT

JWT_PATH_PRIVATE_KEY=/app/secrets/private.pem
JWT_PATH_PUBLIC_KEY=/app/secrets/public.pem

TEST_JWT_ACCESS_EXPIRES=15m
TEST_JWT_REFRESH_EXPIRES=720h

TEST_JWT_ISSUER=my-service
TEST_JWT_AUDIENCE=my-api

# -------------------------------------------------------------------------
# CORS

TEST_CORS_ALLOWED_ORIGINS=http://localhost:3000

# [GET, POST, PUT, PATCH, DELETE, OPTIONS]
TEST_CORS_ALLOWED_METHODS=GET;POST;PUT;PATCH;DELETE;OPTIONS

# [Content-Type, Authorization
TEST_CORS_ALLOWED_HEADERS=Content-Type;Authorization

# [true, fasle]
TEST_CORS_ALLOW_CREDENTIALS=true
